
.container {
    background-color: white;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 33% 26% 33%;
    grid-template-rows: 25rem auto;
    padding-left: 1%;
}
.card {
    width: 300px; 
    margin: 30px auto;
    padding: 1px 20px 30px 20px;
    background-color: #f5fcff;
    box-shadow: 0px 5px 20px #999;
  }
  .title {
    text-align: center;
    color: #333; 
    text-decoration: none;
  }

legend {
    text-align: left;
    padding-inline-start: 2px;
}